@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-color: #E5E5E5;
	font-family: 'Inter', sans-serif;
}
#root {
	width: 100%;
	height: 100%;
}

ul {
	list-style: none;
}
hr {
	opacity: 0.4;	
}
